<h1>New Student</h1>
<form action="/students/new" method="post">
    
    <input type="text" name="student[name]" id="student_name">
    <input type="submit" id="submit" value="Create Student">
</form>