<h1>Register</h1>
<form>
    <label for="first_name">First Name</label>
    <input type="text" name="first_name" id="first_name">
    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" id="last_name">
    <label for="email">email</label>
    <input type="text" id="email" name="email">
    <label for="password">password</label>
    <input type="password" id="password" name="password">
    <input type="submit" name="submit" value="Create Login" id="submit">
</form>