<h1>Log In</h1>
<form action="/login" method="post">
    <label for="email" >email</label>
    <input type="text" id="email" name="email" autofocus>
    <label for="password">password</label>
    <input type="password" id="password" name="password">
    <input type="submit" value="Log In" id="submit">
</form>